Host {{ restic_ssh_host }}
	User {{ restic_ssh_user }}
	HostName {{ restic_ssh_hostname }}
	IdentityFile {{ restic_ssh_private_key_path }}
	Port {{ restic_ssh_port }}
        StrictHostKeyChecking {{ "no" if restic_ssh_StrictHostKeyChecking == False else "accept-new" if restic_ssh_StrictHostKeyChecking == "accept-new" else "" }}
